
<div>
  <button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#myModal">
  Next Speaker
</button>
  <% @current_speaking_events.each do |event| %>
    <%= event.speaker.name %>
    <%= event.date %>
    <%= event.speaker.image %>
    <%= event.description %>
  <% end %>
</div>

<div>
  <h3><%= link_to 'Next Film', films_path %></h3>
  <% @current_films.each do |film| %>
    <%= film.title %>
    <%= film.date %>
    <%= film.time %>
    <%= film.first_speaker %>
    <%= film.second_speaker %>
    <%= film.synopsis %>
    <%= link_to 'Show', film %>
  <% end %>
</div>

<div>
  <h3><%= link_to 'Other Events', other_events_path %></h3>
  <% @current_other_events.each do |event| %>
    <%= event.title %>
    <%= event.date %>
    <%= event.time %>
    <%= event.description %>
   <% end %> 
</div>

<div>
  <h3><%= link_to 'Member Directory', members_path %></h3>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for(@cart, html:) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are You A TBPS Member?</h4>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <%= f.label :is_a_member, "Yes", :value => "true" %>
          <%= f.radio_button :is_a_member, true %>
          <%= f.label :is_a_member, "No", :value => "false" %>
          <%= f.radio_button :is_a_member, false, :checked => true %>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-default">Submit</button>     
      </div>
      <% end %>
    </div>
  </div>
</div>
