
<div class="landing_page_layout col-md-6">
  <% @current_speaking_events.each do |event| %>
    <h3>Our Next Speaker <%= event.speaker.name %></h3>
    <h4>Will be speaking on <%= event.date %></h4>
    <p><%= truncate event.description, length: 300, separator: ' ' %><p>
    <h4><%= link_to 'For more information on this event click here', speaking_event_path(event) %></h4>
    <% if current_cart.cart_membership_status %>
      <h4><%= link_to 'Click here for a list of all our speaking events', speaking_events_path %></h3>
    <% else %>
      <h4><%= link_to 'Click here for a list of all our speaking events', new_cart_cart_membership_status_path(current_cart) %></h4>
    <% end %>
  <% end %>
</div>

<div class="landing_page_layout col-md-6">
  <h3><%= link_to 'Next Film', films_path %></h3>
  <% @current_films.each do |film| %>
    <%= film.title %>
    <%= film.date %>
    <%= film.time %>
    <%= film.first_speaker %>
    <%= film.second_speaker %>
    <%= truncate film.synopsis, length: 100, separator: ' ' %>
    <%= link_to 'Show', film %>
  <% end %>
</div>

<div class="landing_page_layout col-md-6">
  <h3><%= link_to 'Other Events', other_events_path %></h3>
  <% @current_other_events.each do |event| %>
    <%= event.title %>
    <%= event.date %>
    <%= event.time %>
    <%= truncate event.description, length: 100, separator: ' ' %>
   <% end %> 
</div>

<div class="landing_page_layout col-md-6">
  <h3><%= link_to 'Member Directory', members_path %></h3>
</div>

<%= link_to 'about', page_path('about') %>

