<!-- <div class="mission_statement">
  <h3>We are a non-profit, all volunteer, member based organization dedicated to the advancement of Psychotherapists.</h3>
</div> -->

<div class="home_main">
  <div class="landing_page_layout col-md-4 center-block lp1">
    <h3>
    <% if current_cart.cart_membership_status %>
      <%= link_to 'Scientific Speaker Programs 2015-2016', speakers_path %>
    <% else %>
      <%= link_to 'Scientific Speaker Programs 2015-2016', new_cart_cart_membership_status_path(current_cart) %>
    <% end %>
    </h3>
    <h5>TBPS presents thought leaders and clinicians in the field of psychotharpy on one Saturday each month</h5>
    <% @next_speaker.each do |speaker| %>
      <h4>Our next speaker <%= link_to "#{speaker.name}", speaking_events_path %> will be speaking on <%= speaker.date.strftime("%A, %B %e, %Y") %> about  <%= speaker.theme %>.</h4>
    <% end %>
    <h4>Coming Soon</h4>
    <% @current_speakers.each do |speaker| %>
      <h4 class="current_speaker_layout"><%= link_to "#{speaker.name}", speakers_path %></h4> - <h5 class="current_speaker_dates"><%= speaker.date.strftime("%B %e, %Y") %></h5><br>
     <% end %>
  </div>

  <div class="landing_page_layout col-md-4 center-block lp2">
    <h3><%= link_to 'TBPS Film Seris', films_path %></h3>
    <% @current_films.each do |film| %>
      <h5> The TBPS presents a monthly Sunday afternoon film series. Each film is an informal and convivial viewing followed by a discussion facilitated by an academic in film and/or humanities, and a psychoanalytic psychotharapy clinician. All films are shown at the Auditorium located at 13919 Carrollwood Village Run, Tampa 33618.</h5>
      <h3> A $2 Donation is requested at the door.</h3>
      <table>
        <thead>
          <tr>
            <h4>Our Next Film</h4>
          </tr>
          <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Time</th>
            <th>Discusion Facilitated By</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to "#{film.title}", films_path(film) %></td>
            <td><%= film.date.strftime("%m/%d/%y") %></td>
            <td><%= film.time.strftime("%I:%M %P") %></td>
            <td><%= film.first_speaker %> & <%= film.second_speaker %></td>
          </tr>
        </tbody>
      </table>
      <h4>Synopsis</h4>
      <p><%= truncate film.synopsis, length: 100, separator: ' ' %><%= link_to 'Full synopsis', film_path(film) %><p>
      <h4><%= link_to 'Click here for a complete listing of our film series', films_path %></h4>
    <% end %>
  </div>

  <div class="landing_page_layout col-md-4 center-block lp3">
    <h3><%= link_to 'Member Directory', members_path %></h3>
  </div>  
</div>





