<div>
  <h3><%= link_to 'Next_Speaker', speaking_events_path %></h3>
  <% @current_speaking_events.each do |event| %>
    <%= event.speaker.name %>
    <%= event.date %>
    <%= event.speaker.image %>
    <%= event.description %>
  <% end %>
</div>

<div>
  <h3><%= link_to 'Next Film', films_path %></h3>
  <% @current_films.each do |film| %>
    <%= film.title %>
    <%= film.date %>
    <%= film.time %>
    <%= film.first_speaker %>
    <%= film.second_speaker %>
    <%= film.synopsis %>
    <%= link_to 'Show', film %>
  <% end %>
</div>

<div>
  <h3><%= link_to 'Other Events', other_events_path %></h3>
  <% @current_other_events.each do |event| %>
    <%= event.title %>
    <%= event.date %>
    <%= event.time %>
    <%= event.description %>
   <% end %> 
</div>

<div>
  <h3><%= link_to 'Member Directory', members_path %></h3>
</div>