<h2>Are you a member of the Tampa Bay Psychoanalytic Society?</h2>
<%= form_for ([@cart_membership_status.cart, @cart_membership_status]) do |f| %>
  <div class="form-group">
    <%= f.label :is_a_member, "Yes", :value => "true" %>
    <%= f.radio_button :is_a_member, true %>
    <%= f.label :is_a_member, "No", :value => "false" %>
    <%= f.radio_button :is_a_member, false, :checked => true %>
  </div>

  <%= f.submit "Continue" %>
<% end %>

<%= link_to 'Become a member now', new_member_path %>