<%= simple_form_for(@sale_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :sellable_id %>
    <%= f.input :sellable_type %>
    <%= f.input :cart_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
