<%= simple_form_for(@film) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :date %>
    <%= f.input :time %>
    <%= f.input :first_speaker %>
    <%= f.input :second_speaker %>
    <%= f.input :synopsis %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
