<div class="row">
  <h1>TBPS Sunday Film Series </h1>
  <h3>An informal and convivial Sunday afternoon series with discussion led by an academic (film, humanities) and a psychoanalytic clinician. All are welcome. A $2 donation at the door includes popcorn and soda.</h3>
  <h2 class="pull-right">2015-2016 Theme: Aging</h2>
</div>

<% @films.in_groups_of(2) do |films| %>
  <div class="row">
    <% @films.each do |film| %>
      <div class="col-lg-6">
        <div class="well">
          <h3><%= film.title %><h3>
          <h4><%= film.date %></h4>
          <h4><%= film.time %></h4>
          <h5>A post film discusion will be led by <%= film.first_speaker %>, and <%= film.second_speaker %>.</h5>
          <p><%= film.synopsis %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
  
