<div class="row">
  <h1>TBPS Sunday Film Series </h1>
  <h3>An informal and convivial Sunday afternoon series with discussion led by an academic (film, humanities) and a psychoanalytic clinician. All films are shown at the TBPS Auditorium located at 13919 Carrollwood Village Run, Tampa 33618. All are welcome. A $2 donation at the door includes popcorn and soda.</h3>
  <h2 class="pull-right">2015-2016 Theme: Aging</h2>
</div>

    <% @films.in_groups_of(2, false).each do |film1, film2| %>
      <div class="col-lg-6 main_theme_layout film1_index_layout">
        <h3><%= film1.title %><h3>
        <h3><%= film1.date.strftime("%B %e, %Y") %></h3>
        <h4><%= film1.time.strftime("%I:%M %P") %></h4>
        <h5>Post film discusion will be led by <%= film1.first_speaker %>, and <%= film1.second_speaker %>.</h5>
        <p><%= film1.synopsis %></p>
      </div>
    <% if film2 %>
      <div class="col-lg-6 main_theme_layout film2_index_layout">
        <h3><%= film2.title %><h3>
        <h3><%= film2.date.strftime("%B %e, %Y") %></h3>
        <h4><%= film2.time.strftime("%I:%M %P") %></h4>
        <h5>Post film discusion will be led by <%= film2.first_speaker %>, and <%= film2.second_speaker %>.</h5>
        <p><%= film2.synopsis %></p>
      </div>
    <% end %>
<% end %>
  
