<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @film.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @film.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @film.time %>
</p>

<p>
  <strong>First speaker:</strong>
  <%= @film.first_speaker %>
</p>

<p>
  <strong>Second speaker:</strong>
  <%= @film.second_speaker %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @film.synopsis %>
</p>

<%= link_to 'Back', films_path %>
