<%= simple_form_for(@cart) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :purchased_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<table id="line_items">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th class="price">Price</th>
    <th>Subtotal</th>
  </tr>
  <% @cart.sale_items.each do |sale_item| %>
    <tr class="<%= cycle :odd, :even %>">
      <td><%= sale_item.speaking_event.speaker.name %></td>
      <td><%= sale_item.quantity %></td>
      <td><%= number_to_currency(sale_item.unit_price) %></td>
      <td><%= number_to_currency(sale_item.subtotal) %></td>
    </tr>
  <% end %>
  <tr>
    <td class="total price" colspan="4">
      Total: <%= number_to_currency(@cart.total_price) %>
    </td>
  </tr>
</table>