<%= form_for(@cart) do |f| %>
  <% if @cart.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@cart.errors.count, "error") %> prohibited this post from being saved:</h4>

      <ul>
      <% @cart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="main_theme_layout">
    <table id="line_items">
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th class="price">Price</th>
      <th>Subtotal</th>
    </tr>
    <% @cart.sale_items.each do |sale_item| %>
      <tr class="<%= cycle :odd, :even %>">
        <td><%= sale_item.speaking_event.speaker.name %></td>
        <td><%= sale_item.quantity %></td>
        <td><%= number_to_currency(sale_item.unit_price) %></td>
        <td><%= number_to_currency(sale_item.subtotal) %></td>
      </tr>
    <% end %>
  </table>

  <article>
    <label class="amount">
      <span>Amount: <%= number_to_currency(@cart.total_price) %></span>
    </label>
  </article>

  <% unless @cart.total_price == 0 %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description= "Speaking Events for <%= @cart.sale_items.map(&:title).to_sentence %>" 
                data-amount= "<%= @cart.total_price*100 %>"
                data-name = "Tampa Bay Psychoanalytic Society"
                data-locale="auto"
                data-billing-address="true"></script>
      </div>
    </div>  
  <% else %>  
    <%= f.hidden_field :card_token, :value => "X999" %>
    <%= f.hidden_field :country, :value => "United States" %>

    <div class="form-group">
      <%= f.label :name, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :buyer_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :street_address, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :street_address, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :zipcode, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :zipcode, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :city, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :city, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :state, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :state, options_for_select(us_states, "FL"), class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.email_field :email, :placeholder => "required", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Checkout", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>    
<% end %>
