<%= form_for(@cart) do |f| %>
  <% if @cart.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@cart.errors.count, "error") %> prohibited this post from being saved:</h4>

      <ul>
      <% @cart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table id="line_items">
  <tr>
    <th>Product</th>
    <th class="price">Price</th>
  </tr>
  <% @cart.sold_speaking_events.each do |speaking_event| %>
    <tr class="<%= cycle :odd, :even %>">
      <td><%= speaking_event.speaker.name %></td>
      <td class="price"><%= number_to_currency(speaking_event.price) %></td>
    </tr>
  <% end %>
</table>


  <article>
    <label class="amount">
      <span>Amount: <%= number_to_currency(@cart.total_price) %></span>
    </label>
  </article>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description= "<%= @cart.id %>"
              data-amount= "<%= @cart.total_price*100 %>"
              data-locale="auto"
              data-billing-address="true"></script>
    </div>        
<% end %>