<%= form_for @cart do |f| %>
  <div class="form-group">
    <%= f.label :is_a_member, "Yes", :value => "true" %>
    <%= f.radio_button :is_a_member, true %>
    <%= f.label :is_a_member, "No", :value => "false" %>
    <%= f.radio_button :is_a_member, false, :checked => true %>
  </div>

  <%= f.submit "Continue" %>
<% end %>



