<p id="notice"><%= notice %></p>

<table id="line_items">
  <tr>
    <th>Product</th>
    <th class="price">Price</th>
  </tr>
  <% @cart.sold_speaking_events.each do |speaking_event| %>
    <tr class="<%= cycle :odd, :even %>">
      <td><%= speaking_event.speaker.name %></td>
      <% unless @cart.cart_membership_status.is_a_member %>
        <td class="price"><%= number_to_currency(speaking_event.regular_price) %></td>
      <% else %>
        <td class="price"><%= number_to_currency(speaking_event.member_price) %></td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <td class="total price" colspan="4">
      Total: <%= number_to_currency(@cart.total_price) %>
    </td>
  </tr>
  <tr>
    <td>
      Paid: <%= number_to_currency(@cart.total_price) %>
    </td>
  </tr>
</table>

<%= link_to 'home', root_path %>