<table id="line_items">
  <tr>
    <th>Product</th>
    <th class="price">Price</th>
  </tr>
  <% @cart.sold_speaking_events.each do |speaking_event| %>
    <tr class="<%= cycle :odd, :even %>">
      <td><%= speaking_event.speaker.name %></td>
      <td class="price"><%= number_to_currency(speaking_event.price) %></td>
    </tr>
  <% end %>
  <tr>
    <td class="total price" colspan="4">
      Total: <%= number_to_currency(@cart.total_price) %>
    </td>
  </tr>
  <tr>
    <td>
      <%= @cart.card_token %>
    </td>
  </tr>
  <tr>
    <td>
      <%= @cart.email %>
    </td>
  </tr>
  <tr>
    <td>
      <%= @cart.buyer_first_name %> <%= @cart.buyer_last_name %>
    </td>
  </tr>
</table>