<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @other_event.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @other_event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @other_event.time %>
</p>

<p>
  <strong>Descritption:</strong>
  <%= @other_event.descritption %>
</p>

<%= link_to 'Back', other_events_path %>
