<p id="notice"><%= notice %></p>

<p>
  <strong>Speaker:</strong>
  <%= @speaking_event.speaker.name %>
</p>

<p>
  <strong>Biography</strong>
  <%= @speaking_event.speaker.biography %>
</p>

<p>
  <strong>Date:</strong>
  <%= @speaking_event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @speaking_event.time %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @speaking_event.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @speaking_event.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @speaking_event.zipcode %>
</p>

<p>
  <strong>Description:</strong>
  <%= @speaking_event.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @speaking_event.regular_price %>
</p>

<%= link_to 'Back', speaking_events_path %>
