<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @speaker.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @speaker.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @speaker.time %>
</p>

<p>
  <strong>Url:</strong>
  <%= @speaker.url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @speaker.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @speaker.description %>
</p>

<%= link_to 'Back', speakers_path %>
