<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tbps" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tbps" %>">
    <link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="navbar-brand tbps_brand">
            <h1><%= link_to "TBPS", "/" %></h1>
            <h5>Tampa Bay Psychoanalytic Society</h5>
          </div>
        </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
          
            <div class="nav_center">
              <div class="nav_center_text">
                <ul class= "nav nav-pills">
<!--                   <li class="nav navbar-nav big_li">Member Directory</li>
 -->                  <li class="nav navbar-nav big_li"><%= link_to 'Film Series', films_path %></li>
                  <% if current_cart.cart_membership_status %>
                    <li class=" nav navbar big_li"><%= link_to 'Speaker Program', speakers_path %></li>
                  <% else %>
                    <li class="nav navbar big_li"><%= link_to 'Speaker Program', new_cart_cart_membership_status_path(current_cart) %></h4></li>
                  <% end %>
                </ul>
              </div>
            </div>

            <ul class="nav-pills navbar-right">
              <li class="nav navbar-nav md_li"><%= link_to 'About Us', page_path('about') %></li><br>
              <li class="nav navbar-nav md_li"><%= link_to 'Reading Groups', page_path('reading_groups') %></li><br>
              <li class="nav navbar-nav md_li"><%= link_to 'Other TBPS Events', other_events_path %></li><br>
              <li class="nav navbar-nav md_li"><%= link_to 'Join TBPS Mailing List', new_mailing_list_path %></li>
            </ul><br>

            <div class="join_tbps col-md-7">
              <h3><%= link_to 'Join the TBPS now to receive benefits and discounts', new_member_path %></h3>
            </div>
          </div>

          <% if current_cart.sale_items.count > 0 %>
            <div class="cart_count pull-right">
              <%= link_to current_cart_path do %>
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">=<%= current_cart.sale_items.count %></span>
              <% end %>
            </div>
          <% end %>
      </div>
    </nav> 

    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= msg %>
        <% end %>
      <% end %>

    <%= yield %>
    </div>  
  </body>
</html>
