<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tbps" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tbps" %>">
    <link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Corben' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="navbar-brand tbps_brand">
            <h1><%= link_to "TBPS", "/" %></h1>
            <h5>Tampa Bay Psychoanalytic Society</h5>
          </div>
        </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
            <div class="nav_center">
              <div class="nav_center_text">
                <table>
                  <tr>
                    <td><h4><%= link_to 'Member Directory', members_path %></h4></td>
                  </tr>
                  <tr>
                    <td><h4><%= link_to 'Film Series', films_path %></h4></td>
                  </tr>
                  <tr>
                    <% if current_cart.cart_membership_status %>
                      <td><h4><%= link_to 'Speaker Events', speaking_events_path %><h4></td>
                    <% else %>
                      <td><h4><%= link_to 'Speaker Events', new_cart_cart_membership_status_path(current_cart) %></h4></td>
                    <% end %>
                  </tr>
                </table>
              </div>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="nav"><%= link_to 'About Us', page_path('about') %></li><br>
              <li class="nav"><%= link_to 'Reading Groups', page_path('reading_groups') %></li><br>
              <li class="nav"><%= link_to 'Other TBPS Events', other_events_path %></li>
            </ul><br>

            <div class="join_tbps col-md-7">
              <h3><em><%= link_to 'Join the TBPS now to receive benefits and discounts', new_member_path %></em></h3>
            </div>
          </div>
      </div>
    </nav> 

    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= msg %>
        <% end %>
      <% end %>

    <%= yield %>
    </div>  
  </body>
</html>
