<div>
  <h1>TBPS Memberships</h1>
  <h4>
    <b>Clinical or Academic Membership</b> includes up to 21 CE credits per year, and is $300.<br><br>
          <b>Corresponding Membership</b> is for active members of the American Psychoanalytic Association <em>or</em> the International Psychoanalytic Association who are not permanent residents of this area. This membership does not include CE credits, and is $60.<br><br>
          <b>Life Membership</b> is for members who have attained the age of 70 or who have retired from active practice. Up to 21 CE credits per year included. Life membership is $100.<br><br> 
          <b>Student Membership</b> is for those who are <em>unliscensed</em>, and are enrolled in training in a mental health or related field. Student membership is $30.
  </h4>
</div>

<div class="member_form_header">
  <h1>New Member Form</h1>
  <p class="membership_explained">All members recieve discounted prices for TBPS talks. Clinical, Academic, and Life members also may receive up to 21 CE credit hours. If you elect to be published in the TBPS online member directory TBPS will publish your email, office phone, office address, degree, liscence, specialities, and if you are accepting new patients. All memberships are for one year and last from September 1 or date of purchase until September 1 of the following calander year.</p>
</div>

<%= form_for(@member, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @member.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@member.errors.count, "error") %> prohibited this member profile from being saved:</h4>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :member_first_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :member_last_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :degree, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :degree, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :liscense, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :liscense, :placeholder => "i.e. LCSW, LMHC, MD, etc...", class: "form-control" %>
    </div>
  </div>

  <div>
    <h4>Mailing Address(required - will not be published in our member directory)</h4>
  </div>

  <div class="form-group">
    <%= f.label :street_address, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :mailing_address_street, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :city, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :mailing_address_city, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :state, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :mailing_address_state, options_for_select(us_states, "FL"), class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :zip_code, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :mailing_address_zip, :maxlength => 5, :size => 5, class: "form-control" %>
    </div>
  </div>

  <div>
    <h4>Office Address</h4>  
  </div>

  <div class="form-group">
    <%= f.label :street_address, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :office_address_street, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :city, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :office_address_city, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :state, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :office_address_state, options_for_select(us_states, "FL"), class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :zip_code, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :office_address_zip, :maxlength => 5, :size => 5, class: "form-control" %>
    </div>
  </div>
<h5>An email and office phone are required. If you only use a cell phone please place that number in the office phone field. If you elect to be published in our online directory your office phone number will be published.</h5>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.email_field :email, :placeholder => "required", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :office_phone, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.telephone_field :office_phone, :placeholder => "required", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :cell_phone, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.telephone_field :cell_phone, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :home_phone, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      (will not be published)<%= f.telephone_field :home_phone, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :fax, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.telephone_field :fax, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date_of_birth, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :birth_date, :start_year=> 1915, :end_year=> 2015, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :publish, class: "col-sm-2 control-label" %>
    <%= f.label        :publish, "Yes", :value => "true" %>
    <%= f.radio_button :publish, true %>
    <%= f.label        :publish, "No", :value => "false" %>
    <%= f.radio_button :publish, false, :checked => true %>
  </div>

  <div class="form-group">
    <%= f.label :accepting_new_patients, class: "col-sm-2 control-label" %>
    <%= f.label        :new_patient, "Yes", :value => "true" %>
    <%= f.radio_button :new_patients, true %>
    <%= f.label        :new_patient, "No", :value => "false" %>
    <%= f.radio_button :new_patients, false, :checked => true %>
  </div>

  <div class="form-group">
    <%= f.label :practice_specialities, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :practice_specialities, class: "form-control" %>
    </div>
  </div>

  <div class= "align_right">
    <div class="col-md-12 membership_description">
      <h5><b>Clinical or Academic Membership</b> includes up to 21 CE credits per year.<br>
          <b>Corresponding Membership</b> is for active members of the American Psychoanalytic Association <em>or</em> the International Psychoanalytic Association who are not permanent residents of this area. This membership does not include CE credits.<br>
          <b>Life Membership</b> is for members who have attained the age of 70 or who have retired from active practice. Up to 21 CE credits per year included<br>
          <b>Student Membership</b> is for those who ar <em>unliscensed</em> and are enrolled in training in a mental health or related field.</h5>
    </div>
  </div><br>

  <div class="form-group">
    <%= f.label :membership_type, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.label        :membership_type, "Clinical or Academic- $300.00", :value => "clinical" %>
      <%= f.radio_button :membership_type, "clinical" %>
      <%= f.label        :membership_type, "Corresponding - $60.00", :value => "corresponding" %>
      <%= f.radio_button :membership_type, "corresponding" %>
      <%= f.label        :membership_type, "Student - $30.00", :value => "student" %>
      <%= f.radio_button :membership_type, "student" %>
      <%= f.label        :membership_type, "Life - $100.00", :value => "life" %>
      <%= f.radio_button :membership_type, "life" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Continue To Checkout", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>

