<!-- add image tag for image -->
<%= form_for(@member, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @member.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@member.errors.count, "error") %> prohibited this member profile from being saved:</h4>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :member_first_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :member_last_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :degree, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :degree, class: "form-control" %>
    </div>
  </div>

  <div>
    <h2>Home Address(will not be published in our member directory)</h2>
  </div>

  <div class="form-group">
    <%= f.label :street_address, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :home_address_street, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :city, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :home_address_city, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :state, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :home_address_state, options_for_select(us_states, "FL"), class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :zip_code, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :home_address_zip, :maxlength => 5, :size => 5, class: "form-control" %>
    </div>
  </div>

  <div>
    <h2>Office Address</h2>  
  </div>

  <div class="form-group">
    <%= f.label :street_address, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :office_address_street, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :city, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :office_address_city, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :state, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :office_address_state, options_for_select(us_states, "FL"), class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :zip_code, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :office_address_zip, :maxlength => 5, :size => 5, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :office_phone, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.telephone_field :office_phone, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :cell_phone, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.telephone_field :cell_phone, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :home_phone, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      (will not be published)<%= f.telephone_field :home_phone, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :fax, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.telephone_field :fax, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date_of_birth, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :birth_date, :start_year=> 1915, :end_year=> 2015, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :publish, class: "col-sm-2 control-label" %>
    <%= f.label        :publish, "Yes", :value => "true" %>
    <%= f.radio_button :publish, true %>
    <%= f.label        :publish, "No", :value => "false" %>
    <%= f.radio_button :publish, false, :checked => true %>
  </div>

  <div class="form-group">
    <%= f.label :accepting_new_patients, class: "col-sm-2 control-label" %>
    <%= f.label        :new_patient, "Yes", :value => "true" %>
    <%= f.radio_button :new_patients, true %>
    <%= f.label        :new_patient, "No", :value => "false" %>
    <%= f.radio_button :new_patients, false, :checked => true %>
  </div>

  <div class="form-group">
    <%= f.label :practice_specialities, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :practice_specialities, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :membership_type, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.label        :membership_type, "Clinical", :value => "clinical" %>
      <%= f.radio_button :membership_type, "Clinical" %>
      <%= f.label        :membership_type, "Academic", :value => "acadaemic" %>
      <%= f.radio_button :membership_type, "Academic" %>
      <%= f.label        :membership_type, "Corresponding", :value => "corresponding" %>
      <%= f.radio_button :membership_type, "Corresponding" %>
      <%= f.label        :membership_type, "Student", :value => "student" %>
      <%= f.radio_button :membership_type, "Student" %>
      <%= f.label        :membership_type, "Life", :value => "life" %>
      <%= f.radio_button :membership_type, "Life" %>
      <%= f.label        :membership_type, "Friend", :value => "friend" %>
      <%= f.radio_button :membership_type, "Friend" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

