<h1>Hello</h1>

<%= form_for(@member.memberships.new, :url => memberships_path(@member)) do |f| %>
  <%= f.hidden_field :purchased_at, :value => Time.now %>
  <%= f.hidden_field :member_id, :value => @member.id %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description= "TBPS Membership"
              data-amount= "500"
              data-locale="auto"></script>
    </div>        
<% end %>

  <%= @member.member_first_name %>
<h1>Hello</h1>